ARM/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "BlobContainerName": {
            "type": "string",
            "defaultValue": "[concat('ccm', uniqueString(resourceGroup().id, resourceGroup().location))]",
            "metadata": {
                "description": "Name of the blob container in the Azure Storage account."
            }
        },
        "DataFactoryName": {
            "type": "string",
            "defaultValue": "[concat('datafactory', uniqueString(resourceGroup().id, resourceGroup().location))]",
            "metadata": {
                "description": "Data Factory Name"
            }
        },
        "KeyvaultName": {
            "type": "string",
            "defaultValue": "[concat('keyvault', uniqueString(resourceGroup().id, resourceGroup().location))]",
            "metadata": {
                "description": "The URI of the Azure Keyvault instance which keeps the service principal secret secret"
            }
        },
        "StorageAccountName": {
            "type": "string",
            "defaultValue": "[concat('storage', uniqueString(resourceGroup().id, resourceGroup().location))]",
            "metadata": {
                "description": "Name of the Azure storage account that contains the input/output data."
            }
        }
    },
    "variables": {
        "dataFactoryId": "[concat('Microsoft.DataFactory/factories/', parameters('DataFactoryName'))]",
        "datalakeUri": "[concat('https://', parameters('storageAccountName'), '.dfs.core.windows.net')]",
        "keyvaultUri": "[concat('https://', parameters('KeyvaultName') ,'.vault.azure.net/')]",
        "storageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
    },
    "resources": [
        {
            "name": "[concat( parameters('KeyvaultName'), '/', parameters('StorageAccountName'))]",
            "type": "Microsoft.KeyVault/vaults/secrets",
            "apiVersion": "2019-09-01",
            "properties": {
                "value": "[listKeys(variables('storageAccountId'), '2019-06-01').keys[0].value]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('KeyvaultName'))]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('StorageAccountName'))]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/StorageTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "TriggerPipeline",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "folderName": "@triggerBody().folderPath",
                            "fileName": "@triggerBody().fileName"
                        }
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "[concat('/', parameters('BlobContainerName'), '/blobs/ccmexports')]",
                    "blobPathEndsWith": ".csv",
                    "ignoreEmptyBlobs": true,
                    "scope": "[resourceId('Microsoft.Storage/storageAccounts', parameters('StorageAccountName'))]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [ "[concat(variables('dataFactoryId'), '/pipelines/TriggerPipeline')]" ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/CompressParquet')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Convert CSV",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Delete Target",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 1,
                            "validateDataConsistency": false
                        },
                        "inputs": [
                            {
                                "referenceName": "ccmdatalake_source",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@pipeline().parameters.folderName",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@pipeline().parameters.fileName",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ccmdatalake_parquet",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@variables('destinationFolder')",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@variables('destinationFile')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    },
                    {
                        "name": "Delete Target",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "Set Destination Folder 3",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ccmdatalake_source",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@variables('destinationFolder')",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@variables('destinationFile')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            }
                        }
                    },
                    {
                        "name": "Delete CSV",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "Convert CSV",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ccmdatalake_source",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@pipeline().parameters.folderName",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@pipeline().parameters.fileName",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            }
                        }
                    },
                    {
                        "name": "Set Destination Folder 1",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set Destination File Name",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFolder",
                            "value": {
                                "value": "@replace(replace(replace(replace(replace(pipeline().parameters.folderName, '_', '/'),'closed/',''), 'open/', ''), 'exports', 'data'), 'custom/', '')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set Destination File Name",
                        "description": "",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Wait",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFile",
                            "value": {
                                "value": "@replace(pipeline().parameters.fileName, '.csv', '.parquet')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set Destination Folder 2",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set Destination Folder 1",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFolder2",
                            "value": {
                                "value": "@substring(variables('destinationFolder'), 0, lastIndexOf(variables('destinationFolder'), '/'))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set Destination Folder 3",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set Destination Folder 2",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFolder",
                            "value": {
                                "value": "@substring(variables('destinationFolder2'), 0, lastIndexOf(variables('destinationFolder2'), '/'))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Wait",
                        "type": "Wait",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "waitTimeInSeconds": 60
                        }
                    }
                ],
                "parameters": {
                    "fileName": {
                        "type": "string"
                    },
                    "folderName": {
                        "type": "string"
                    }
                },
                "variables": {
                    "destinationFile": {
                        "type": "String"
                    },
                    "destinationFolder": {
                        "type": "String"
                    },
                    "destinationFolder2": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('dataFactoryId'), '/datasets/ccmdatalake_source')]",
                "[concat(variables('dataFactoryId'), '/datasets/ccmdatalake_source')]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/CompressFile')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Convert CSV",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Delete Target",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "parallelCopies": 1,
                            "validateDataConsistency": false
                        },
                        "inputs": [
                            {
                                "referenceName": "ccmdatalake_source",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@pipeline().parameters.folderName",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@pipeline().parameters.fileName",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ccmdatalake_sink",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@variables('destinationFolder')",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@variables('destinationFile')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    },
                    {
                        "name": "Delete Target",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "Set Destination Folder 3",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ccmdatalake_source",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@variables('destinationFolder')",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@variables('destinationFile')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            }
                        }
                    },
                    {
                        "name": "Delete CSV",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "Convert CSV",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ccmdatalake_source",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderName": {
                                        "value": "@pipeline().parameters.folderName",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@pipeline().parameters.fileName",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            }
                        }
                    },
                    {
                        "name": "Set Destination Folder 1",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set Destination File Name",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFolder",
                            "value": {
                                "value": "@replace(replace(replace(replace(replace(pipeline().parameters.folderName, '_', '/'),'closed/',''), 'open/', ''), 'exports', 'data'), 'custom/', '')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set Destination File Name",
                        "description": "",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Wait",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFile",
                            "value": {
                                "value": "@replace(pipeline().parameters.fileName, '.csv', '.csv.gz')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set Destination Folder 2",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set Destination Folder 1",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFolder2",
                            "value": {
                                "value": "@substring(variables('destinationFolder'), 0, lastIndexOf(variables('destinationFolder'), '/'))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set Destination Folder 3",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set Destination Folder 2",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "destinationFolder",
                            "value": {
                                "value": "@substring(variables('destinationFolder2'), 0, lastIndexOf(variables('destinationFolder2'), '/'))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Wait",
                        "type": "Wait",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "waitTimeInSeconds": 60
                        }
                    }
                ],
                "parameters": {
                    "fileName": {
                        "type": "string"
                    },
                    "folderName": {
                        "type": "string"
                    }
                },
                "variables": {
                    "destinationFile": {
                        "type": "String"
                    },
                    "destinationFolder": {
                        "type": "String"
                    },
                    "destinationFolder2": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('dataFactoryId'), '/datasets/ccmdatalake_source')]",
                "[concat(variables('dataFactoryId'), '/datasets/ccmdatalake_source')]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/TriggerPipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "CompressFile",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": false,
                            "parameters": {
                                "folderName": {
                                    "value": "@pipeline().parameters.folderName",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "parameters": {
                    "folderName": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": []
            },
            "dependsOn": [ 
                "[concat(variables('dataFactoryId'), '/pipelines/CompressFile')]",
                "[concat(variables('dataFactoryId'), '/pipelines/CompressParquet')]"
             ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/ccmdatalake_parquet')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ccmdatalake",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "folderName": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().folderName",
                            "type": "Expression"
                        }
                    },
                    "compressionCodec": "gzip"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('dataFactoryId'), '/linkedServices/ccmdatalake')]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/ccmdatalake_sink')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ccmdatalake",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "folderName": {
                        "type": "String"
                    },
                    "fileName": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@{dataset().fileName}",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@{dataset().folderName}",
                            "type": "Expression"
                        },
                        "fileSystem": ""
                    },
                    "columnDelimiter": ",",
                    "compressionCodec": "gzip",
                    "compressionLevel": "Optimal",
                    "escapeChar": "\"",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('dataFactoryId'), '/linkedServices/ccmdatalake')]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/ccmdatalake_source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ccmdatalake",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "folderName": {
                        "type": "String"
                    },
                    "fileName": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@{dataset().fileName}",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@{dataset().folderName}",
                            "type": "Expression"
                        },
                        "fileSystem": ""
                    },
                    "columnDelimiter": ",",
                    "compressionCodec": "none",
                    "escapeChar": "\"",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('dataFactoryId'), '/linkedServices/ccmdatalake')]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/ccmdatalake')]",
            "type": "Microsoft.DataFactory/factories/linkedservices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[variables('datalakeUri')]",
                    "accountKey": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "ccmkeyvault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "[parameters('StorageAccountName')]"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('dataFactoryId'), '/linkedServices/ccmkeyvault')]"
            ]
        },
        {
            "name": "[concat(parameters('DataFactoryName'), '/ccmkeyvault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('keyvaultUri')]"
                }
            },
            "dependsOn": [
                "[variables('dataFactoryId')]"
            ]
        },
        {
            "type": "Microsoft.DataFactory/factories",
            "apiVersion": "2018-06-01",
            "name": "[parameters('DataFactoryName')]",
            "location": "[resourceGroup().location]",
            "properties": {
            },
            "dependsOn": [
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "resources": [

            ]
        },
        {
            "name": "[parameters('KeyvaultName')]",
            "type": "Microsoft.KeyVault/vaults",
            "apiVersion": "2019-09-01",
            "location": "[resourceGroup().location]",
            "tags": {
                "displayName": "[parameters('KeyvaultName')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('DataFactoryName'))]"
            ],
            "properties": {
                "enabledForDeployment": true,
                "enabledForTemplateDeployment": true,
                "enabledForDiskEncryption": true,
                "tenantId": "[subscription().tenantId]",
                "accessPolicies": [
                    {
                        "tenantId": "[reference(resourceId('Microsoft.DataFactory/factories', parameters('DataFactoryName')), '2018-06-01', 'Full').identity.tenantId]",
                        "objectId": "[reference(resourceId('Microsoft.DataFactory/factories', parameters('DataFactoryName')), '2018-06-01', 'Full').identity.principalId]",
                        "permissions": {
                            "secrets": [
                                "Get"
                            ]
                        }
                    }
                ],
                "sku": {
                    "name": "standard",
                    "family": "A"
                }
            },
            "resources": [
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-06-01",
            "name": "[parameters('storageAccountName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Standard_LRS"
            },
            "kind": "StorageV2",
            "properties": {
                "allowBlobPublicAccess": false,
                "isHnsEnabled": true,
                "minimumTlsVersion": "TLS1_2"
            },
            "resources": [
                {
                    "type": "blobServices/containers",
                    "apiVersion": "2019-06-01",
                    "name": "[concat('default/', parameters('blobContainerName'))]",
                    "dependsOn": [
                        "[resourceId('Microsoft.Storage/storageAccounts', parameters('StorageAccountName'))]"
                    ]
                }
            ]
        }
    ]
}